flowsproject.json
[{"id":"5535ee04.8a5e2","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"89201d79.24a99","type":"ui_button","z":"5535ee04.8a5e2","name":"","group":"acedd172.a6748","order":1,"width":0,"height":0,"passthru":false,"label":"Warnings!","tooltip":"","color":"","bgcolor":"","icon":"","payload":"PLEASE DRIVE CAREFULLY!!!!!!","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":40,"wires":[["e0025e12.e2739"]]},{"id":"e0025e12.e2739","type":"ibmiot out","z":"5535ee04.8a5e2","authentication":"apiKey","apiKey":"817a57ff.ab9378","outputType":"cmd","deviceId":"90596","deviceType":"ESP32","eventCommandType":"home","format":"String","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":720,"y":60,"wires":[]},{"id":"13f892f6.a1d1cd","type":"ui_button","z":"5535ee04.8a5e2","name":"","group":"acedd172.a6748","order":2,"width":0,"height":0,"passthru":false,"label":"instructions","tooltip":"","color":"","bgcolor":"","icon":"","payload":"DIVERSION AHEAD!","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":80,"wires":[["e0025e12.e2739"]]},{"id":"6de17f3c.c9b2c","type":"http in","z":"5535ee04.8a5e2","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":100,"y":260,"wires":[["5306c0e0.98f85"]]},{"id":"964f04a2.8e2c58","type":"http response","z":"5535ee04.8a5e2","name":"","statusCode":"","headers":{},"x":390,"y":260,"wires":[]},{"id":"5306c0e0.98f85","type":"function","z":"5535ee04.8a5e2","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":240,"wires":[["e0025e12.e2739","964f04a2.8e2c58"]]},{"id":"8020f9b.8f50908","type":"debug","z":"5535ee04.8a5e2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":200,"wires":[]},{"id":"d141bf4b.54554","type":"http in","z":"5535ee04.8a5e2","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":620,"y":220,"wires":[["5c580795.123c48"]]},{"id":"472eb9d2.164468","type":"http response","z":"5535ee04.8a5e2","name":"","statusCode":"","headers":{},"x":890,"y":280,"wires":[]},{"id":"5c580795.123c48","type":"function","z":"5535ee04.8a5e2","name":"","func":"msg.payload = {\n    \"temperature\" : global.get('t'),\n    \"humidity\" : global.get('h'),\n    \"description\" : global.get('d'),\n    \"visibility\": global.get('v')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":280,"wires":[["472eb9d2.164468","8020f9b.8f50908"]]},{"id":"db1fdf92.27f7","type":"ibmiot in","z":"5535ee04.8a5e2","authentication":"apiKey","apiKey":"817a57ff.ab9378","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"90596","applicationId":"","deviceType":"ESP32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":360,"wires":[["83a9dbbb.c60658","2b2894e8.1250cc","4367043c.7c6dbc","fc26796e.a54f48","d5948a8d.d35748"]]},{"id":"83a9dbbb.c60658","type":"function","z":"5535ee04.8a5e2","name":"temperature","func":"global.set('t', msg.payload.temperature)\nmsg.payload = msg.payload.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":380,"wires":[["63df6618.55cf68","511547d3.317578"]]},{"id":"2b2894e8.1250cc","type":"function","z":"5535ee04.8a5e2","name":"humidity","func":"global.set('h', msg.payload.humidity)\nmsg.payload = msg.payload.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":440,"wires":[["d0017633.ca6e48","2ea260cc.4320f"]]},{"id":"4367043c.7c6dbc","type":"debug","z":"5535ee04.8a5e2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":270,"y":320,"wires":[]},{"id":"fc26796e.a54f48","type":"function","z":"5535ee04.8a5e2","name":"description","func":"global.set('d', msg.payload.description)\nmsg.payload=msg.payload.description\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":480,"wires":[["f67c7315.957af","e0025e12.e2739"]]},{"id":"f67c7315.957af","type":"ui_text","z":"5535ee04.8a5e2","group":"4210d66.59b2628","order":3,"width":0,"height":0,"name":"","label":"description","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":540,"wires":[]},{"id":"d0017633.ca6e48","type":"switch","z":"5535ee04.8a5e2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"50","vt":"num"},{"t":"gt","v":"50","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":500,"wires":[[],["2c8add4a.424aa2"]]},{"id":"2c8add4a.424aa2","type":"ui_toast","z":"5535ee04.8a5e2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"humidity is high","name":"","x":770,"y":500,"wires":[[]]},{"id":"d5948a8d.d35748","type":"function","z":"5535ee04.8a5e2","name":"visibility","func":"global.set('v',msg.payload.visibility)\nmsg.payload=msg.payload.visibility\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":520,"wires":[["a41302ce.9d143","302fca72.a26e06"]]},{"id":"a41302ce.9d143","type":"switch","z":"5535ee04.8a5e2","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"4000","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":620,"wires":[["3923f61d.0398da"]]},{"id":"3923f61d.0398da","type":"ui_toast","z":"5535ee04.8a5e2","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"[Visibility is low!please drive carefully]","name":"","x":750,"y":600,"wires":[[]]},{"id":"63df6618.55cf68","type":"ui_chart","z":"5535ee04.8a5e2","name":"","group":"acedd172.a6748","order":8,"width":0,"height":0,"label":"temperature ","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9b99","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":530,"y":400,"wires":[[]]},{"id":"511547d3.317578","type":"ui_text","z":"5535ee04.8a5e2","group":"acedd172.a6748","order":7,"width":0,"height":0,"name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":360,"wires":[]},{"id":"302fca72.a26e06","type":"ui_text","z":"5535ee04.8a5e2","group":"4210d66.59b2628","order":2,"width":0,"height":0,"name":"","label":"visibility","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":580,"wires":[]},{"id":"2ea260cc.4320f","type":"ui_gauge","z":"5535ee04.8a5e2","name":"","group":"4210d66.59b2628","order":4,"width":0,"height":0,"gtype":"donut","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":460,"wires":[]},{"id":"df53dd49.9fb66","type":"ui_button","z":"5535ee04.8a5e2","name":"","group":"acedd172.a6748","order":3,"width":0,"height":0,"passthru":false,"label":"School","tooltip":"","color":"","bgcolor":"","icon":"","payload":"School at the right  --->","payloadType":"str","topic":"topic","topicType":"msg","x":110,"y":120,"wires":[["e0025e12.e2739"]]},{"id":"6cde6e0b.2f13f","type":"ui_button","z":"5535ee04.8a5e2","name":"","group":"acedd172.a6748","order":4,"width":0,"height":0,"passthru":false,"label":"hospital","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Hospital ahead \"+\"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":160,"wires":[["e0025e12.e2739"]]},{"id":"31608830.b077a8","type":"ui_button","z":"5535ee04.8a5e2","name":"","group":"acedd172.a6748","order":5,"width":0,"height":0,"passthru":false,"label":"Restaurant","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Restaurant Ahead \"^^\"","payloadType":"str","topic":"topic","topicType":"msg","x":120,"y":200,"wires":[["e0025e12.e2739"]]},{"id":"9ac73fb2.4b5b7","type":"ui_text_input","z":"5535ee04.8a5e2","name":"","label":"Alerts","tooltip":"","group":"acedd172.a6748","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","topicType":"msg","x":260,"y":20,"wires":[["e0025e12.e2739"]]},{"id":"acedd172.a6748","type":"ui_group","name":"Group 2","tab":"1cae94f4.e53d4b","order":2,"disp":true,"width":"10","collapse":false},{"id":"817a57ff.ab9378","type":"ibmiot","name":"Smart","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"4210d66.59b2628","type":"ui_group","name":"Group 1","tab":"1cae94f4.e53d4b","order":1,"disp":true,"width":11,"collapse":false},{"id":"1cae94f4.e53d4b","type":"ui_tab","name":"Simulator","icon":"dashboard","disabled":false,"hidden":false}]